<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    {{>header}}
    <h1>ABOUT page {{title}}</h1>
    <p>weather API - metaweather.com</p>
    <img src="./img/castle-5693094_640.jpg">
    <p>Image by Randy Jost from Pixabay </p>
    {{>footer}}
</body>
</html>